
  <div class="footer-container container-fluid">
    <div class="row pt-4">

      <div class="copyright flex-column d-flex text-center m-auto no-gutters">
        <span class="text-white">Copyright &copy; {{ "now" | date: "%Y" }} <strong> {{ site.title | escape }} </strong></span>
      </div>

    </div>
    <hr>
    <div class="row justify-content-between align-items-between no-gutters">
      <div class="">
        <address>
          <a href="https://www.google.com/maps/place/3705+SE+Dixie+Hwy,+Stuart,+FL+34997" title="Florida Boat Sales on Google Maps" target="_blank">3705 SE Dixie Hwy
            Stuart, FL 34997</a>
          <a href="http://maps.google.com/" target="_blank"><i class="fa fa-location-arrow"> </i></a>
          <!--https://www.google.com/maps/place/Florida+Marine+Services/@27.1601697,-80.2157701,17z/data=!4m13!1m7!3m6!1s0x88deddb4cbdb5f37:0x89766b70fd25fbc5!2s3705+SE+Dixie+Hwy,+Stuart,+FL+34997!3b1!8m2!3d27.1601697!4d-80.2135814!3m4!1s0x88deddb4cc93a1df:0xaabfe6c466bfbb15!8m2!3d27.1601697!4d-80.2135814-->
          <!--https://goo.gl/maps/KYyKMXw9mfC2-->
          <br>
          <span class="contact text-white">
                    <!--CS: (888) 352-8312-->
                    <div class="phone">{{site.phone}}</div><!-- /.phone -->
                </span>
          <!-- /.contact -->
        </address>
        <!-- /.copyright -->
      </div>
      <!-- /.col -->
      <div class="row  no-gutters">
        <ul class="flex-row d-flex" style="list-style: none;">
          <li class="pl-4"><a href="/privacy" target="_blank">Privacy</a></li>
          <li class="pl-4"><a href="/terms" target="_blank">Terms &amp; Conditions</a></li>
          <li class="pl-4"><a href="/policies" target="_blank">Our Policies</a></li>
        </ul>
      </div>
      <!-- /.col -->
    </div>
  </div>



<!-- <footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="text-muted">&copy; {{ site.title | escape }}</span>
      </div>
      {% if site.author %}
      <div class="col-md-4">
        <span class="text-muted"><a href="mailto:{{ site.email }}">{{ site.author | escape }}</a></span>
      </div>
      {% endif %}
      <div class="col-md-4">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer> -->


