/** =====
 *  Development - Scss styling
 */

$default-font-family: "Open Sans", Roboto, Arial, sans-serif;
body {
    font-family: $default-font-family;
}

header {
    &#main-header {


    }
}

main {
    &#main-content {
        min-height: 400px;
    }
    .jumbotron {
        margin-top:-1.5rem;
    }
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;

}

.jumbotron {
    padding: 0;
}
.jumbotron-title {

    font-family: $default-font-family;
    font-weight: bold;
    color: #333;
  font-size: 3.5rem;
    // margin-top: 2rem;
}

footer {
    a {
        color: #DEDEDE;
    }

    .footer-container > hr {
        border-color: #555;
    }
    &#main-footer {

    }
}
